@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.content {
    width: 100%;
    margin-top: 20px;
}

/**** Inicio Estilos para la pagina de Monitor ****/
.card {
    .card-body {
        .card-value {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

//Seccion de abastecedores
.abastecedores {
    .card {
        .card-box {
            border: 1px dashed #ccc;
            padding: 5px;
            margin: 10px auto;
            width: 80px;
            height: 80px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
/**** Fin Estilos para la pagina de Monitor ****/


// ESTILOS PARA LA PAGINA DE INVENTARIO
.search-input {
    height: 38px;
    border: 1px solid #dfe1e5;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    background-color: white;
    box-shadow: none; /* Sin sombra por defecto */
    transition: box-shadow 0.3s, border-color 0.3s; /* Para transiciones suaves */
  }
  
  .search-input:focus {
    box-shadow: 0 0 5px red; /* Sombra roja al hacer focus */
    outline: none; /* Eliminar el outline */
    border-color: red; /* Opcional: cambiar el color del borde */
  }
